.Venv/
.Vscode/
__pycache__/
.env
*.pyc
.DS_Store
code/audio_files/16981327/cadenza_data
code/audio_files/16981327/clarity
results/
code/audio_files/16981327/cadenza_clip1_data.demo.v1.0.tar.gz
code/audio_files/16981327/cadenza_clip1_data.train.v1.0.tar.gz
code/audio_files/16981327/cadenza_clip1_data.valid.v1.0.tar.gz
Audio_challange_machine_learning/checkpoints/run_20250929-224115
Audio_challange_machine_learning/code/neural_networks/model1/model.pt
checkpoints/run_20250929-224115/eval_samples/eval_iter_001300.pt
code/neural_networks/model1/model.pt
