.Venv/
.Vscode/
__pycache__/
.env
*.pyc
.DS_Store
code/audio_files/16981327/cadenza_data
code/audio_files/16981327/clarity

code/audio_files/16981327/cadenza_clip1_data.demo.v1.0.tar.gz
code/audio_files/16981327/cadenza_clip1_data.train.v1.0.tar.gz
code/audio_files/16981327/cadenza_clip1_data.valid.v1.0.tar.gz